{% extends "base_generic.html" %}
{% block title %}Список авторов{% endblock %}

{% block content %}
<h1>Список авторов</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Дата рождения</th>
            <th>Дата смерти</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr>
            <td><a href="{% url 'author-detail' author.pk %}">{{ author.first_name }} {{ author.last_name }}</a></td>
            <td>{{ author.date_of_birth }}</td>
            <td>{{ author.date_of_death }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
