{% extends "base_generic.html" %}
{% block title %}Список книг{% endblock %}

{% block content %}
<h1>Список книг</h1>
<div class="mb-3">
    <a class="btn btn-outline-primary" href="?sort_by=title&direction={{ new_direction }}">Сортировать по названию</a>
    <a class="btn btn-outline-secondary" href="?sort_by=author__last_name&direction={{ new_direction }}">Сортировать по автору</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author.first_name }} {{ book.author.last_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}