{% extends "base_generic.html" %}
{% block title %}Главная{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать в библиотеку МАОУ "Лицей №14"</h1>
    <p class="lead">Это простой каталог книг и авторов.</p>
    <hr class="my-4">
    <p>Количество книг: {{ num_books }}</p>
    <p>Количество авторов: {{ num_authors }}</p>
    <a class="btn btn-primary btn-lg" href="{% url 'books' %}" role="button">Просмотреть книги</a>
    <a class="btn btn-secondary btn-lg" href="{% url 'authors' %}" role="button">Просмотреть авторов</a>
</div>
{% endblock %}